{{> Header }}

<style>
    ul {
        padding: 1.25em;
        border: 0.2em solid var(--box-border);
        border-radius: 0.25vw;

        background-color: var(--box-background);
    }

    li {
        list-style-type: none;
        padding-left: 1.25em;
    }

    code {
        background-color: var(--box-border);
    }
</style>

<div>
    <h4>Homepage</h4>
    Welcome to Morsse, an app that lets you improve your morse code sending and receiving skill<br>
    Here you can take morse code lessons made by others or create lessons yourself<br><br>
    Here are some steps to help you get started:<br>
    <ul>
        <li>Create an account and log in</li>
        <li>Visit the lessons page and pick a lesson to complete</li>
        <li>[Optional] Create a lesson yourself</li>
    </ul>
    You can revisit this page at any time by selecting <code>&nbsp;Home&nbsp;</code> in the navigation bar.
</div>

{{> Footer }}
