:root {
    --background-color: #0B1013;
    /* KUROTSURUBAMI */

    --foreground-color: #BDC0BA;
    /* SHIRONEZUMI */

    --box-background: #1C1C1C;
    /* SUMI */

    --box-border: #373C38;
    /* AISUMICHA */
}