:root {
    --background-color: #BDC0BA;
    /* SHIRONEZUMI */

    --foreground-color: #0B1013;
    /* KUROTSURUBAMI */

    --box-background: #FCFAF2;
    /* SHIRONERI */

    --box-border: #91989F;
    /* GINNEZUMI */
}